:root {
    --teal-color: rgb(44, 196, 188);
    --green-color: rgb(0, 83, 69);
    --pink-color: rgb(255, 144, 159);
    --scarlet-color: rgb(158, 16, 71);
    --gray-color: rgb(198, 204, 204);
    --sidebar-width: 215px;
    --small-screen-width: 830px;
    --h1-font: 60px;
    --h2-font: 40px;
    --h3-font: 30px;
    --h4-font: 20px;
    --p-font: 20px;
    --h1-mob: 100px;
    --h2-mob: 80px;
    --h3-mob: 70px;
    --h4-mob: 60px;
    --p-mob: 55px;
}
/* body {
    padding: 0px;
    margin: 0px;
}
h1, #title {font-size: 100px;}
h2 {font-size: 40px;}
h3 {font-size: 60px;}
h4 {font-size: 45px;}
p {font-size: 45px;}
.to-top {font-size: 38px;} */

  
.tealColor {
    color: var(--teal-color);
}
.greenColor {
    color: var(--green-color);
}
.redColor {
    color: var(--red-color);
}
.scarletColor {
    color: var(--scarlet-color);
}
.grayColor {
    color: var(--gray-color);
}

/* Josefin Sans variable font weight (range: 100-700) */
body,p,h1,h2,h3,h4,h5,h6 {font-family: 'Josefin Sans', serif; } /* change to sans-serif when readt */
h1, #title {
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 1em;
}
h2 {
    font-size: var(--h2-font);
}
h3, .h3 {
    font-size: var(--h3-font);
    font-weight: 600;
    line-height: 1.1em;
    margin-bottom: -15px;
}
h4 {font-size: var(--h4-font);}
p, .p {
    font-size: var(--p-font);
    font-weight: 375;
    line-height: 1.2em;
    margin-bottom: 20px;
}
/* borders */
/* #main-box {
    border: blue 2px solid;
}
#main-sub-box0 {
    border: rgb(0, 204, 255) 2px solid;
}
#side-box {
    border: red 2px dashed;
}
#sidebar {
    border: orange 2px solid;
}
#main-sub-box1 {
    border: green 2px dashed;
}
#main-sub-box2 {
    border: greenyellow 2px dashed;
}
#sticky-tab {
    border: greenyellow 2px dashed;
} */
/* borders */



body {
    text-align: center;
    /* background-color: var(--gray-color); */
}

#side-box {
    text-align: center;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--sidebar-width); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow: scroll;
    /* overflow: hidden; Disable horizontal scroll */
    background-color: var(--scarlet-color);
    transition: .3s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#side-box2 {
    text-align: center;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--sidebar-width); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
#sidebar {
    text-align: center;
}
#sidebar2 {
    margin-left: 52px;
    margin-top: 30px;
    text-align: left;
    line-height: 1.7em;
    /* width: 100%; */
    /* margin: auto; */
    /* padding: 10px; */
    /* margin: 10px; */
}

.sidebar-item {
    font-size: var(--h3-font);
    text-decoration: none;
    color: white;
    display: block;
    margin: none;
    padding: 8px 44px;
}
.fab {
    padding: 2px 44px;
}
.ig-icon {
    vertical-align: middle;
    height: 32px;
}
.ig-icon-footer {
    vertical-align: middle;
    padding-bottom: 3px;
    height: 20px;
}
.sidebar-item:hover {
    /* color: var(--pink-color); */
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.25);

}
.active:hover {
    /* color: var(--pink-color); */
    text-decoration: underline;
} 
.active {
    font-size: var(--h3-font);
    font-weight: 700;
    color: white;
    background-color: var(--teal-color);
    text-decoration: none;
    display: block;
    margin: none;
    padding: 8px 44px;
} 

.side-box-hover {
    width: 210px;
    height: 230px;
    position: absolute;
    background-color: var(--pink-color);
    mix-blend-mode: darken;
    opacity: 0;
    z-index: 1;
}


.bc-link {
    vertical-align: middle;
    color: gray;
}

#main-box {
    width: 100%;
}
#main-sub-box0 {
    margin-left: var(--sidebar-width);
    margin-right: var(--sidebar-width);
    padding: 10px 10px;
}
#main-sub-box1 {
    line-height: 3em;
    margin-left: var(--sidebar-width);
    margin-right: var(--sidebar-width);
    padding: 10px 10px;
}
#main-sub-box2 {
    text-align: left;
    width: 51%;
    margin: auto;
    line-height: 1em;
    /* margin-left: var(--sidebar-width);
    margin-right: var(--sidebar-width); */
    /* padding-left: 100px;
    padding-right: 100px; */
}



.main-logo{
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

#title {
    padding: 0px;
    margin: 0;
    vertical-align: middle;
    padding-top: 10px;
}
/* #subtitle {
    color: var(--teal-color);
    font-size: 40px;
} */

#rightbar2 {
    position: relative;
    margin-top: 200px;
    background-color: var(--scarlet-color);

}
.pw-btn {
    padding:40px;
    font-size: 30px;
    color: white;
    background-color: var(--teal-color);
}

.pw-btn:hover {
    color: rgb(168, 168, 168);
    background-color: rgb(29, 134, 129);;
}


/* delete */

#message {
    color: rgb(158, 16, 71);
    font-family: sans-serif;
    font-size: 25px;
}



.w3-hide{display:none!important}


#side-box-mobile {
    background-color: var(--scarlet-color);
    /* border: red medium solid; */
    padding-top: 5%;
    text-align: center;
    width: 100%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
}
#side-box2-mobile {
    text-align: center;
    width: 100%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
}
#sidebar-mobile {
    /* margin-left: 70px; */
    /* border: red 2px solid; */
    display: inline-block;
    margin-top: 6%;
    margin-left: 5%;
    vertical-align: top;
    /* padding-top: 5%; */
    text-align: center;
    /* width: 100%; */
    /* margin: auto; */
    /* padding: 10px; */
    /* margin: 10px; */
}


.sidebar-item-mobile {
    vertical-align: middle;
    font-size: 65px;
    text-decoration: none;
    text-emphasis: none;
    color: white;
}

.mob-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 180px;
    /* vertical-align: middle; */
    text-align: left;
    background-color: var(--scarlet-color);
    opacity: 0;
    transition: .4s;
}
.visible {
    opacity: 1;
}
.invisible {
    opacity: 0;
}
#nav-title {
    font-size: 111px;
    font-weight: 500;
}
.nav-home {
    float: right;
    font-size: 80px;
}
.main-logo-nav {
    /* border: red 2px dashed; */
    float: left;
    max-height: 100%;
    padding-top: 2px;
    
}
.nav-padding {
    padding-top: 180px;
} 

/* .bio-container, .bio-name-box, .bio-bio-box {
    border: red dashed 3px;
}
.bio-text-box {
    border: blue dashed 3px;
} */
.footer-div {
    background-color: rgb(196, 196, 196);
    /* height: 80px; */
    width:100%;
    margin-bottom: -40px;
    padding: 20px 0px;
    /* padding-top: 10px; */
    
}
.footer-txt {
    color: rgb(119, 119, 119);
    font-size: var(--p-font);
    margin: none;
    padding: 8px 15px;
    line-height: 1.2em; 
}
.footer-hover:hover {
    background-color: rgba(0, 0, 0, 0.25); 
    color: rgb(85, 85, 85);
}

.to-top {
    display: block;
    color: rgb(119, 119, 119);
    font-size: var(--p-font);
    text-decoration: none;
    line-height: .25em;
    margin: 5px;
}
.to-top:hover {
    color: rgb(119, 119, 119);
    text-decoration: underline;

}
#to-top-div {
    padding-top: 100px;
    padding-bottom: 10px;
}
.up-footer {
    height: 12px;
}

.bio-container {
    text-align: center;
    margin-left: var(--sidebar-width);
    margin-right: var(--sidebar-width);
    padding: 10px 20px;
    padding-right: 0;
    height: 150px;
}

.bio-pic-box {
    /* border: green dashed 3px; */
    display: inline-block;
    /* width: 200px; */
    width: 20% ;
    height: 100% ;
    text-align: right;
}
.bio-text-box {
    display: inline-block;
    width: 70% ;
    vertical-align: top;
    text-align: left;
    padding-top: 4px;
}
.bio-text{
    font-weight: bold; 
    font-size: 30px;
}
#bio-name{color: var(--scarlet-color)}
#bio-year{color: var(--teal-color);}
#bio-bio{color: black; font-size: var(--p-font);}

.bio-name-box{
    text-align: left;
    display: block; 
}
.bio-bio-box {
    display: block;
    text-align: left;
}

.bio-pic {
    /* max-width: 100%;
    min-width: 100%; */
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.year-tab-box{
    text-align: center;
    margin-left: var(--sidebar-width);
    margin-right: var(--sidebar-width);
    background-color: white;
    padding: 5px;
}
.year-tab {
    font-size: var(--h3-font);
    text-decoration: none;
    color: var(--scarlet-color);
    display: inline-block;
    margin: -4px;
    padding: 8px 22px;
    background-color: white;
    border: none;
    font-family: 'Josefin Sans';
    /* border: yellowgreen 1px dashed; */
    outline:none;
}
.year-tab:hover {
    /* background-color: var(--pink-color); */
    text-decoration: underline;
    cursor: pointer;
}


#edit-bio{
    background-color: var(--teal-color);
    color: white;
}

#all-bio-container {
    padding-top: 30px;
}
.year-active {    
    /* background-color: var(--scarlet-color); */
    /* color: white; */
    text-decoration: underline;
    font-weight: bold;
}
#sticky-tab.fixed {
    position: sticky;
    top: 0;
    margin-left: var(--sidebar-width);
    margin-right: var(--sidebar-width);
}


.biography {
    display: none;
}
.visible-year {
    display: block;
}




/* FOR SMALL SCREENS */
@media (max-width:1030px){
    body {
        padding: 0px;
        margin: 0px;
    }
    h1, #title {font-size: var(--h1-mob);}
    h2 {font-size: var(--h2-mob);}
    h3 {
        font-size: var(--h3-mob);
        margin-bottom: -40px;
    }
    h4 {font-size: var(--h4-mob);}
    p {font-size: var(--p-mob);}
    .to-top {
        font-size: var(--p-mob);
        line-height: 1em;
    }
    
    #main-box {
        width: 100%;
        margin-top: 700px;
    }

    
    #main-sub-box0 {
        line-height: 3em;
        margin:0px;
        padding: 0px;
        /* margin-top: 180px; */
    }
    #main-sub-box1 {
        line-height: 6.5em;
        height: auto;
        margin:0px;
        padding: 0px;
        /* margin-top: 0px; */
    }
    
    #main-sub-box2 {
        text-align: left;
        width: 85%;
        line-height: 3.2em;
        margin:auto;
        padding: 0px;
    }
    
    #main-pic, .img-full {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        display: block;
        text-align:center;
    }
    .main-logo {
        /* max-width: 550px; */
        max-height: 630px;
    }
    .footer-txt {
        display: block;
        font-size: var(--h3-mob);
    }
    #side-box {
        width: 100%;
        height: auto;
        position: absolute;
        display: block;
        padding: 0;
    }
    #sidebar {
        width: 300px;
        display: inline-block;
        margin-top: 0px;
        vertical-align: top;
    }
    .sidebar-item, .active {
        font-size: 80px;
        line-height: 1.1em;
        padding: 8px 16px;
    }
    
    /* .fab {font-size: 60px; line-height: 1.1em;} */
    
    .ig-icon {
        vertical-align: middle;
        height: 80px;
    }
    .ig-icon-footer {
        padding-bottom: 0px;
        height: 80px;
    }
    .up-footer {
        height: 36px;
    }
    .up-nav {
        height: 50px;
        color: white;
        position: relative;
        top: 45px;
    }
    #nav-to-top{
        height: 100%;
        width: 200px;
        text-align: center;
    }
    #nav-to-top:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
    .scroll-opacity {
        opacity: 0;
    }
    .year-tab {
        display: block;
        width: 400px;
        font-size: var(--h3-mob);
        margin: auto;
    }
    .year-tab-box{
        text-align: center;
        margin: auto;
        background-color: white;
        padding: 5px;
    }
    #sticky-tab.fixed {
        position: absolute;
        
        margin: auto;
    }
    .bio-container{
        margin: auto;
        padding: 10px 10px;
        padding-right: 0;
        height: 350px;
    }
    
    .bio-pic-box {
        display: inline-block;
        /* width: 200px; */
        width: 30% ;
        height: 100% ;
        text-align: right;
    }
    .bio-text-box {
        display: inline-block;
        width: 57% ;
        vertical-align: top;
        text-align: left;
        padding-top: 4px;
    }
    .bio-text{
        font-weight: bold; 
        font-size: var(--p-mob);
    }
    #bio-bio{font-size: 40px;}

    .bio-name-box{
        text-align: left;
        display: block; 
    }
    .bio-bio-box {
        display: block;
        text-align: left;
    }

    .bio-pic {
        /* max-width: 100%;
        min-width: 100%; */
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
    #title {
        color: red;
    }
    .w3-hide-small{display:none!important}
    .w3-mobile{display:block;width:100%!important}
}
/* @media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}} */
@media (min-width:1030px){
    .w3-hide-large{display:none!important}
    #side-box {display: block}
    .visuallyhidden {
        opacity: 100;
    }
}

/* FOR VERY SMALL SCREENS */
/* STACKED NAV BAR */
@media (max-width:970px){.main-logo {max-height: 600px;}}
@media (max-width:950px){
    #title {
        color: orange;
    }
    #main-box {
        width: 100%;
        margin-top: 1350px;
    }
    body {
        padding: 0px;
        margin: 0px;
    }
    h1, #title {font-size: 85px;}
    h2 {font-size: 65px;}
    h3 {
        font-size: 55px;
        margin-bottom: -40px;
    }
    h4 {font-size: 40px;}
    p {font-size: 40px;}
    .to-top {
        font-size: 50px;
        line-height: 1em;
    }
    .mob-nav {
        width: 100%;
        height: 155px;
    }
    .main-logo {display: block; margin:auto}
}
